/***********footer************/
.footer {
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  background-color: rgb(238, 238, 238);
}

.footer .footer_nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer .footer_nav ul {
  width: 20%;
}

.footer .footer_nav ul li.f_nav_tit {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.footer .footer_nav ul.footer_top li img {
  width: 150px;
}

.footer .footer_nav ul.footer_top li:nth-child(2) {
  width: 40%;
  padding-top: 90px;
}

.footer .footer_nav ul li {
  text-align: center;
  line-height: 40px;
  font-size: 16px;
}

.footer .footer_nav ul li a {
  color: black;
}

.footer .footer_list {
  margin-bottom: 40px;
}

.footer .footer_list ul {
  display: flex;
  flex-wrap: wrap;
}

.footer .footer_list ul li {
  width: 20%;
  line-height: 50px;
  text-align: center;
}

.footer .footer_list ul li a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.footer .footer_list ul li select {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  margin-left: 25px;
}

.footer .footer_list ul li a.red {
  color: red;
}

.footer .footer_list ul li a.blue {
  color: blue;
}

.footer .footer_bottom {
  display: flex;
  justify-content: space-between;
}

.footer .footer_bottom p {
  color: #777;
  letter-spacing: 1px;
}

.footer .footer_bottom .f_bom_right p a {
  display: block;
  font-size: 22px;
  color: #000;
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 40px;
  font-weight: 700;
  margin-bottom: 20px;
  transition: all 0.3s;
}

.footer .footer_bottom .f_bom_right p a:hover {
  color: #fff;
  background-color: #002053;
}

.footer .footer_bottom .f_bom_right p.bold {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

.footer .footer_bottom .f_sns {
  padding-right: 30px;
}

.footer .footer_bottom .f_sns ul {
  display: flex;
}

.footer .footer_bottom .f_sns li a {
  display: block;
  width: 52px;
  height: 50px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .footer_bottom .f_sns li a.insta {
  background-image: url(../img/Main_img/Sns/insta.svg);
}

.footer .footer_bottom .f_sns li a.facebook {
  background-image: url(../img/Main_img/Sns/facebook.svg);
}

.footer .footer_bottom .f_sns li a.youtube {
  background-image: url(../img/Main_img/Sns/youtube.svg);
}

.footer .footer_bottom .f_sns li a.kakao {
  background-image: url(../img/Main_img/Sns/kakao_ch.svg);
}