@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: '노토산스', 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.down_tit {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}


/***************header********************/
.header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;
  background: #fff;
  z-index: 9999;
  box-shadow: 0px 0px 3px #ccc;
}

.header .blur {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 130vh;
  backdrop-filter: blur(20px);
  z-index: -1;
}

.header .logo {
  width: 18%;
  margin-left: 60px;
}

.header .logo a {
  display: block;
  width: 120px;
  height: 45px;
  background: url(../img/Logo/blue_fila.png) no-repeat center;
  background-size: contain;
}

.lnb {
  display: flex;
  margin-right: 80px;
}

.lnb .bar {
  width: 1px;
  height: 12px;
  background-color: #000;
  margin: 0 20px;
}

.lnb .lnb_nav {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.lnb .lnb_nav>li {
  margin-top: 20px;
  padding-bottom: 20px;
}

.lnb .lnb_nav>li>a {
  position: relative;
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  letter-spacing: 1px;
}

.lnb .lnb_nav>li>a::before {
  left: 50%;
}

.lnb .lnb_nav>li>a::after {
  right: 50%;
}

.lnb .lnb_nav>li>a::before,
.lnb .lnb_nav>li>a::after {
  content: '';
  position: absolute;
  top: 43px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.2s;
}

.lnb .lnb_nav>li:hover>a::before,
.lnb .lnb_nav>li:hover>a::after {
  width: 40px;
}

.lnb .lnb_nav>li:nth-child(2):hover>a::before,
.lnb .lnb_nav>li:nth-child(2):hover>a::after,
.lnb .lnb_nav>li:nth-child(3):hover>a::before,
.lnb .lnb_nav>li:nth-child(3):hover>a::after {
  width: 25px;
}

.gnb {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.gnb li {
  width: 60px;
}

.gnb li a {
  display: block;
  text-align: center;
  padding: 15px;
}

.gnb li a i {
  font-size: 25px;
  color: #000;
}

.gnb li a i.material-symbols-outlined {
  font-size: 30px;
}

.gnb li a i.bag {
  font-size: 30px;
  line-height: 1.1;
}

.search_on .header .search_down {
  opacity: 1;
  visibility: visible;
}

/**************header_down_menu*************/
.header .lnb .lnb_nav .down {
  visibility: hidden;
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 9999;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  background: none;
  background-color: #fff;
  padding: 20px 40px 60px;
}

.header .lnb li:nth-child(1):hover .women_down,
.header .lnb li:nth-child(2):hover .men_down,
.header .lnb li:nth-child(3):hover .kids_down,
.header .lnb li.brand:hover .brand_down {
  visibility: visible;
  opacity: 1;
}

.header .category_menu ul>li>a {
  color: #000;
}

.header .down ul li a {
  font-size: 16px;
  line-height: 32px;
}

.header .lnb .down .inner {
  display: flex;
  justify-content: center;
  width: 1540px;
  margin: 0 auto;
}

.header .category_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .category_menu ul {
  margin-top: 20px;
}

.header .category_menu ul li a {
  transition: color 0.2s;
}

.header .category_menu ul li a:hover {
  color: blue;
}

.header .category_menu>div {
  width: 20%;
  padding-left: 30px;
  border-right: 1px solid #ccc;
}

.header .category_menu>div:last-child {
  border: none;
}

.header .kids_down .category_menu {
  justify-content: center;
}

.header .kids_down .category_menu div {
  flex-basis: 290px;
}

.header .brand_down .brand_menu {
  display: flex;
}

.header .brand_down .brand_menu li {
  margin-left: 20px;
}

.header .brand_down .brand_menu li:first-child {
  margin-left: 0;
}

.header .brand_down .brand_menu li a {
  display: block;
}

.header .brand_down .brand_menu li a .brand_img {
  overflow: hidden;
}

.header .brand_down .brand_menu img {
  width: 100%;
  height: 370px;
  transition: transform 0.4s;
}

.header .brand_down .brand_menu li a .brand_img:hover img {
  transform: scale(1.1);
}

.header .brand_down .brand_menu li a p {
  text-align: center;
  color: #000;
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
}

.header .search_down {
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: 90px;
  left: 0;
  opacity: 0;
  padding-top: 10px;
  background-color: #fff;
  transition: 0.1s;
}

.header .search_down .container {
  width: auto;
  padding: 0 130px;
}

.header .search_down .input_box {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 30px;
  background-color: rgb(238, 238, 238);
}

.header .search_down .input_box .search_btn {
  display: block;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 60px;
  font-size: 0;
  border: none;
}

.header .search_down .input_box input {
  width: calc(100% - 60px);
  height: 60px;
  outline: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #000;
  background: none;
}

.header .search_down .input_box input::placeholder {
  text-align: center;
}

.header .search_down .search_close {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 24px;
  right: 50px;
  border: 0;
  background: none;
  font-size: 35px;
  cursor: pointer;
}

.word_tit {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.header .search_down .search_word {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px 20px 40px 20px;
}

.header .search_down .search_word ul {
  width: 25%;
}

.header .search_down .search_word li a {
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

.header .search_down .search_word ul:nth-child(3) {
  margin-right: 30px;
}

.header .search_blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(20px);
}


/**********login***************/
.login_section {
  width: 100%;
  margin: 0 auto;
  padding-top: 130px;
}

.login_wrap {
  width: 600px;
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
}

.login_wrap h1 {
  font-size: 2.3em;
  margin: 30px 0;
}

.login_wrap .input_box {
  position: relative;
}

.login_wrap .input_box input {
  width: 100%;
  line-height: 50px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.login_wrap .input_box input:last-child {
  margin-bottom: 0;
}

.eye {
  position: absolute;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  color: #ccc;
}

.eye_off {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 25px;
  cursor: pointer;
  color: #ccc;
}

.id_box {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.login_wrap .id_box>label,
#id_save {
  cursor: pointer;
}

.id_box a {
  color: #888;
  text-decoration: underline;
}

.social_login {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.social_login a {
  display: block;
  width: 50%;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px 0;
  margin-right: 10px;
  text-align: center;
  transition: .3s;
}

.social_login a:hover {
  border: 1px solid black;
}

.social_login a:last-child {
  margin-right: 0;
}

.social_login .social_naver {
  background: url(../img/ico_naver_13x12.png) no-repeat center left 20px;
}

.social_login .social_kakao {
  background: url(../img/ico_kakao_17x16.png) no-repeat center left 20px;
}

.logbtn {
  margin: 30px 0;
}

.logbtn a {
  display: block;
  background-color: #002053;
  color: #fff;
  padding: 15px 0;
  border-radius: 40px;
  font-size: 20px;
}

.join_box {
  margin: 30px 0;
}

.join_box:hover a {
  background-color: #002053;
  color: #fff;
}

.join_box a {
  display: block;
  font-size: 20px;
  color: #000;
  border: 1px solid #ccc;
  padding: 15px 0;
  border-radius: 40px;
  transition: .3s;
}

.login_wrap a.border {
  text-decoration: underline;
  color: #777;
}