@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(path/to/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(path/to/MaterialIcons-Regular.woff2) format('woff2'),
    url(path/to/MaterialIcons-Regular.woff) format('woff'),
    url(path/to/MaterialIcons-Regular.ttf) format('truetype');
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: '노토산스', 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* .container {
  width: 1660px;
  margin: 0 auto;
} */

.down_tit {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}


/*************scroll header**************/
.scroll.scr_up .header {
  visibility: hidden;
  transform: translateY(-100%);
  opacity: 0;
}

.scroll.scr_down .header {
  visibility: visible;
  background: none;
  transform: translateY(0%);
  background-color: #fff;
  opacity: 1;
}

.scroll.scr_down .header .logo a,
.scroll.bg_on .header:hover .logo a {
  background-image: url(../img/Logo/blue_fila.png);
  background-size: contain;
}

.scroll.bg_on .header .down {
  display: flex;
}

.scroll.bg_on .header:hover {
  background-color: #fff;
}

.scroll.bg_on .header>div a,
.scroll.bg_on .header>div i {
  color: #000;
}

.scroll.bg_on .header div.bar {
  background-color: #000;
}

.scroll.scr_down .header>div a,
.scroll.scr_down .header>div i {
  color: #000;
}

.scroll.scr_down .header div.bar {
  background-color: #000;
}

/***************header********************/
.header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  transition: all 0.1s;
}

.header .logo {
  width: 18%;
  margin-left: 60px;
}

.header .logo a {
  display: block;
  width: 120px;
  height: 45px;
  background: url(../img/Logo/white_fila.png) no-repeat center;
  background-size: contain;
}

.lnb {
  display: flex;
  margin-right: 70px;
}

.lnb .bar {
  width: 1px;
  height: 12px;
  background-color: #fff;
  margin: 0 20px;
}

.lnb .lnb_nav {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.lnb .lnb_nav>li {
  margin-top: 35px;
  padding-bottom: 35px;
}

.lnb .lnb_nav>li>a {
  position: relative;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  letter-spacing: 1px;
}

.lnb .lnb_nav>li>a::before {
  left: 50%;
}

.lnb .lnb_nav>li>a::after {
  right: 50%;
}

.lnb .lnb_nav>li>a::before,
.lnb .lnb_nav>li>a::after {
  content: '';
  position: absolute;
  top: 43px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.2s;
}

.lnb .lnb_nav>li:hover>a::before,
.lnb .lnb_nav>li:hover>a::after {
  width: 40px;
}

.lnb .lnb_nav>li:nth-child(2):hover>a::before,
.lnb .lnb_nav>li:nth-child(2):hover>a::after,
.lnb .lnb_nav>li:nth-child(3):hover>a::before,
.lnb .lnb_nav>li:nth-child(3):hover>a::after {
  width: 25px;
}

.gnb {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.gnb li {
  width: 55px;
}

.gnb li a {
  display: block;
  text-align: center;
  padding: 15px;
}

.gnb li a i {
  font-size: 25px;
  color: #fff;
}

.gnb li a i.material-symbols-outlined {
  font-size: 30px;
}

.gnb li a i.bag {
  font-size: 30px;
  line-height: 1.1;
}

/**************header_down_menu*************/
.header .lnb .down {
  visibility: hidden;
  position: absolute;
  display: none;
  justify-content: center;
  z-index: 9999;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 20px 40px 50px;
  opacity: 0;
  transition: all 0.1s;
}

.header .lnb li:nth-child(1):hover .women_down,
.header .lnb li:nth-child(2):hover .men_down,
.header .lnb li:nth-child(3):hover .kids_down,
.header .lnb li.brand:hover .brand_down {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.header .category_menu ul>li>a {
  color: #000;
}

.header .down ul li a {
  font-size: 16px;
  line-height: 32px;
}

.header .lnb .down .inner {
  display: flex;
  justify-content: center;
  width: 1540px;
  margin: 0 auto;
}

.header .category_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .category_menu ul {
  margin-top: 20px;
}

.header .category_menu ul li a {
  transition: all 0.2s;
}

.header .category_menu ul li:hover a {
  color: blue;
}

.header .category_menu>div {
  width: 20%;
  padding-left: 30px;
  border-right: 1px solid #ccc;
}

.header .category_menu>div:last-child {
  border: none;
}

.header .kids_down .category_menu {
  justify-content: center;
}

.header .kids_down .category_menu div {
  flex-basis: 290px;
}

.header .brand_down .brand_menu {
  display: flex;
}

.header .brand_down .brand_menu li {
  margin-left: 20px;
}

.header .brand_down .brand_menu li:first-child {
  margin-left: 0;
}

.header .brand_down .brand_menu li a {
  display: block;
}

.header .brand_down .brand_menu li a .brand_img {
  overflow: hidden;
}

.header .brand_down .brand_menu img {
  width: 100%;
  height: 370px;
  transition: all 0.4s;
}

.header .brand_down .brand_menu li a .brand_img:hover img {
  transform: scale(1.1);
}

.header .brand_down .brand_menu li a p {
  text-align: center;
  color: #000;
  padding-top: 10px;
  font-weight: 700;
  font-size: 16px;
}

/*************visual_main*****************/
.swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.swiper .swiper-wrapper .swiper-slide-active {
  width: 100%;
}

.myswiper .swiper-slide-active img {
  width: 100%;
  height: 100%;
}

.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper>.swiper-wrap>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 350px;
  top: auto;
  left: 30px;
  z-index: 2;
  height: var(--swiper-pagination-progressbar-size, 20px);
  background-color: #fff;
}

.swiper .swiper-pagination {
  color: #fff;
  bottom: -25px;
  left: 25px;
}

.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #002053;
}

.swiper-wrap {
  position: absolute;
  display: flex;
  left: 110px;
  bottom: 120px;
  width: 400px;
}

.swiper-pagination {
  visibility: hidden;
  font-size: 25px;
  font-weight: bold;
}

.swiper-pagination-current,
.swiper-pagination-total {
  visibility: visible;
  position: absolute;
  left: -20px;
}

.swiper-pagination-total {
  left: auto;
  right: 20px;
}

.arrow .swiper-button-prev,
.arrow .swiper-button-next {
  width: 50px;
  height: 60px;
  color: #fff;
  transform: translateY(-50%);
  top: 50%;
  left: 100px;
  text-align: center;
  z-index: 1;
}

.arrow .swiper-button-next {
  left: auto;
  right: 100px;
  z-index: 1;
}

.arrow .swiper-button-prev::after,
.arrow .swiper-button-next::after {
  font-size: 50px;
}

.visual_tit {
  position: absolute;
  left: 120px;
  bottom: 150px;
  color: #fff;
}

.visual_tit .tit {
  font-weight: bold;
  font-size: 50px;
}

.visual_tit .tit_btn {
  display: inline-block;
  margin-top: 25px;
}

.visual_tit .tit_btn a {
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
  border: 2px solid white;
  transition: all 0.1s;
  letter-spacing: -0.5px;
  color: #fff;
}

.visual_tit .tit_btn a:hover {
  color: #000;
  background-color: #fff;
}


/***************rank***************/
.rank {
  padding-top: 80px;
}

.rank h2 {
  font-size: 40px;
  text-align: center;
}

.rank .rank_category {
  margin: 25px 0;
}

.rank .category_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank .rank_category .category_btn li {
  text-align: center;
}

.rank .rank_category .category_btn li a {
  position: relative;
  display: block;
  padding: 0 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(102, 102, 102);
  letter-spacing: 1px;
  transition: all 0.2s;
}

.rank .rank_category .category_btn li a::before {
  left: 50%;
}

.rank .rank_category .category_btn li a::after {
  right: 50%;
}

.rank .rank_category .category_btn li a::before,
.rank .rank_category .category_btn li a::after {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.2s;
}

.rank .rank_category .category_btn li:hover a::before,
.rank .rank_category .category_btn li:hover a::after {
  width: 55px;
}

.rank .rank_category .category_btn li:hover a {
  color: #000;
}

.rank_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.rank_order {
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 2;
  width: 26%;
  flex-shrink: 1;
  margin-right: 30px;
}

.rank .rank_top {
  border-bottom: 2px solid #777;
}

.rank .rank_top h3 {
  font-size: 34px;
  padding-bottom: 10px;
}

.rank .rank_bottom {
  margin-top: 10px;
}

.rank_order .rank_bottom ul li.active a {
  color: #002053;
  font-weight: 700;
  font-size: 23px;
}

.rank .rank_bottom ul li {
  border-bottom: 1px solid #000;
}

.rank .rank_bottom ul li a {
  display: block;
  padding: 5px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.rank .rank_bottom ul li a span {
  padding: 0 15px;
}

.rankSwiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.rankSwiper .rank_img {
  position: relative;
  overflow: hidden;
}

.rankSwiper .rank_img .rank_desc {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.3);
}

.rankSwiper .rank_img:hover .rank_desc {
  transform: translateY(0%);
}

.rankSwiper .rank_img .rank_desc ul {
  display: flex;
  align-items: center;
}

.rankSwiper .rank_img .rank_desc ul li {
  width: 60%;
  height: 100px;
  padding: 10px 25px;
}

.rankSwiper .rank_img .rank_desc ul li:nth-child(2) {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.rankSwiper .rank_img .rank_desc ul li a {
  color: #fff;
  line-height: 40px;
  font-size: 24px;
}

.rankSwiper .rank_img .rank_desc ul li span a {
  font-size: 45px;
}

.rankSwiper .swiper-wrapper .swiper-slide {
  width: 550px;
  height: 650px;
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
}

.rankSwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 650px;
}

.rankSwiper .swiper-wrapper .swiper-slide.swiper-slide-next {
  opacity: 0.3;
  transform: scale(0.8);
  visibility: visible;
}

.rankSwiper .swiper-slide.swiper-slide-active {
  margin: 0 15px;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

/***************NEW_ARRIVAL*************/
.new_arrival {
  margin-top: 60px;
}

.newSwiper {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid red;
}

.newSwiper .swiper-wrapper .swiper-slide {
  width: 55%;
  height: 500px;
  line-height: 500px;
  margin: 0 50px;
  background-color: blue;
  transform: scale(0.8);
  transition: all 0.3s;
  font-size: 30px;
}

.newSwiper .swiper-slide.swiper-slide-active {
  background-color: aquamarine;
  color: red;
  transform: scale(1);
  font-size: 30px;
}

.best_box {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.best_box .pa {
  width: 50%;
  height: 500px;
  float: left;
}

.best_box .price {
  float: left;
}

.best_box .product_img {
  float: left;
  width: 50%;
}

.best_box .product_img img {
  width: 100%;
  height: 500px;
}


/*************배경이미지 fix************/
div.an {
  position: relative;
  width: 100%;
}

.an .bgi {
  width: 100%;
  height: 800px;
  background: url(../img/01.jpg) no-repeat top fixed;
  background-size: cover;
}