@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: '노토산스', 'Noto Sans KR', '나눔고딕', 'Nanum Gothic', '돋움', 'Dotum', '굴림', 'Gulim', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  font-size: 40px;
}

.container {
  width: 1610px;
  margin: 0 auto;
}

.down_tit {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

/*************scroll header**************/

.scroll {
  &.scr_up .header {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s;
  }

  &.scr_down .header {
    visibility: visible;
    transform: translateY(0%);
    background-color: #fff;
    opacity: 1;
    transition: all 0.3s;
    box-shadow: 0px 0px 2px #ccc;
  }

  &.scr_up.search_on .header {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }

  &.scr_down .header .logo a, &.bg_on .header:hover .logo a, &.search_on .header .logo a {
    background-image: url(../img/Logo/blue_fila.png);
    background-size: contain;
  }

  &.bg_on .header {
    .down {
      display: flex;
      opacity: 1;
    }

    .blur {
      display: block;
    }

    &:hover, .down {
      background-color: #fff;
    }

    div.bar {
      background-color: #000;
    }
  }

  &.scr_down .header div.bar, &.search_on .header div.bar {
    background-color: #000;
  }

  &.bg_on.scr_up .header {
    visibility: visible;
    opacity: 1;
  }

  &.scr_down .header > div {
    a, i {
      color: #000;
    }
  }

  &.bg_on .header > div {
    a, i {
      color: #000;
    }
  }

  &.search_on .header {
    > div {
      a, i {
        color: #000;
      }
    }

    background-color: #fff;

    .search_down {
      opacity: 1;
      visibility: visible;
    }
  }
}

/* .scroll.bg_on.scr_up .header>ul>li .down {
  visibility: visible;
} */

/***************header********************/

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s;
  background: none;
  z-index: 9999;

  .blur {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    backdrop-filter: blur(20px);
    z-index: -1;
  }

  .logo {
    width: 18%;
    margin-left: 60px;

    a {
      display: block;
      width: 120px;
      height: 45px;
      background: url(../img/Logo/white_fila.png) no-repeat center;
      background-size: contain;
    }
  }
}

.lnb {
  display: flex;
  margin-right: 80px;

  .bar {
    width: 1px;
    height: 12px;
    background-color: #fff;
    margin: 0 20px;
  }

  .lnb_nav {
    display: flex;
    align-items: center;
    overflow: hidden;

    > li {
      margin-top: 17px;
      padding-bottom: 17px;

      > a {
        position: relative;
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        padding: 15px;
        letter-spacing: 1px;

        &::before {
          left: 50%;
        }

        &::after {
          right: 50%;
        }

        &::before, &::after {
          content: '';
          position: absolute;
          top: 43px;
          display: block;
          width: 0;
          height: 2px;
          background-color: #000;
          transition: all 0.2s;
        }
      }

      &:hover > a {
        &::before, &::after {
          width: 40px;
        }
      }

      &:nth-child(2):hover > a {
        &::before, &::after {
          width: 25px;
        }
      }

      &:nth-child(3):hover > a {
        &::before, &::after {
          width: 25px;
        }
      }
    }
  }
}

.gnb {
  display: flex;
  align-items: center;
  margin-right: 25px;

  li {
    position: relative;
    width: 60px;

    &:last-child::after {
      position: absolute;
      right: 8px;
      top: 8px;
      width: 20px;
      line-height: 20px;
      background-color: #002053;
      font-size: 10px;
      border-radius: 50%;
      text-align: center;
      display: block;
      content: '0';
      font-weight: 700;
      color: #fff;
    }

    a {
      display: block;
      text-align: center;
      padding: 15px;

      i {
        font-size: 25px;
        color: #fff;

        &.material-symbols-outlined {
          font-size: 30px;
        }

        &.bag {
          font-size: 30px;
          line-height: 1.1;
        }
      }
    }
  }
}

/**************header_down_menu*************/

.header {
  .lnb {
    .down {
      visibility: hidden;
      position: absolute;
      display: none;
      justify-content: center;
      z-index: 9999;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding: 20px 40px 60px;
      opacity: 0;
    }

    li {
      &:nth-child(1):hover .women_down, &:nth-child(2):hover .men_down, &:nth-child(3):hover .kids_down, &.brand:hover .brand_down {
        visibility: visible;
        opacity: 1;
        display: flex;
      }
    }
  }

  .category_menu ul > li > a {
    color: #000;
  }

  .down ul li a {
    font-size: 16px;
    line-height: 32px;
  }

  .lnb .down .inner {
    display: flex;
    justify-content: center;
    width: 1540px;
    margin: 0 auto;
  }

  .category_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      margin-top: 20px;

      li a {
        transition: all 0.2s;

        &:hover {
          color: blue;
        }
      }
    }

    > div {
      width: 20%;
      padding-left: 30px;
      border-right: 1px solid #ccc;

      &:last-child {
        border: none;
      }
    }
  }

  .kids_down .category_menu {
    justify-content: center;

    div {
      flex-basis: 290px;
    }
  }

  .brand_down .brand_menu {
    display: flex;

    li {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;

        .brand_img {
          overflow: hidden;
        }
      }
    }

    img {
      width: 100%;
      height: 370px;
      transition: all 0.4s;
    }

    li a {
      .brand_img:hover img {
        transform: scale(1.1);
      }

      p {
        text-align: center;
        color: #000;
        padding-top: 10px;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .search_down {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 90px;
    left: 0;
    opacity: 0;
    padding-top: 10px;
    background-color: #fff;
    transition: all 0.1s;

    .container {
      width: auto;
      padding: 0 130px;
    }

    .input_box {
      display: flex;
      align-items: center;
      margin: 10px 0;
      padding: 0 20px;
      border-radius: 30px;
      background-color: rgb(238, 238, 238);

      .search_btn {
        display: block;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 60px;
        height: 60px;
        font-size: 0;
        border: none;
      }

      input {
        width: calc(100% - 60px);
        height: 60px;
        outline: none;
        border: none;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #000;
        background: none;

        &::placeholder {
          text-align: center;
        }
      }
    }

    .search_close {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 24px;
      right: 50px;
      border: 0;
      background: none;
      font-size: 35px;
      cursor: pointer;
    }
  }
}

.word_tit {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.header {
  .search_down .search_word {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 20px 40px 20px;

    ul {
      width: 25%;
    }

    li a {
      color: #000;
      font-size: 16px;
      line-height: 32px;
    }

    ul:nth-child(3) {
      margin-right: 30px;
    }
  }

  .search_blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    backdrop-filter: blur(20px);
  }
}

/*************visual_main*****************/

.swiper {
  position: relative;
  width: 100%;
  height: 100vh;

  .swiper-wrapper .swiper-slide-active {
    width: 100%;
  }
}

.myswiper .swiper-slide-active img {
  width: 100%;
  height: 100%;
}

.swiper {
  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  > .swiper-wrap > .swiper-pagination-progressbar {
    width: 350px;
    top: auto;
    left: 30px;
    z-index: 2;
    height: var(--swiper-pagination-progressbar-size, 20px);
    background-color: #fff;
  }
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 350px;
  top: auto;
  left: 30px;
  z-index: 2;
  height: var(--swiper-pagination-progressbar-size, 20px);
  background-color: #fff;
}

.swiper {
  .swiper-pagination {
    color: #fff;
    bottom: -25px;
    left: 25px;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: #002053;
  }
}

.swiper-wrap {
  position: absolute;
  display: flex;
  left: 110px;
  bottom: 120px;
  width: 400px;
}

.swiper-pagination {
  visibility: hidden;
  font-size: 25px;
  font-weight: bold;
}

.swiper-pagination-current {
  visibility: visible;
  position: absolute;
  left: -20px;
}

.swiper-pagination-total {
  visibility: visible;
  position: absolute;
  left: -20px;
  left: auto;
  right: 20px;
}

.visual_arrow {
  .swiper-button-prev {
    width: 50px;
    height: 60px;
    color: #fff;
    transform: translateY(-50%);
    top: 50%;
    left: 100px;
    text-align: center;
    z-index: 1;
  }

  .swiper-button-next {
    width: 50px;
    height: 60px;
    color: #fff;
    transform: translateY(-50%);
    top: 50%;
    left: 100px;
    text-align: center;
    z-index: 1;
    left: auto;
    right: 100px;
    z-index: 1;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 50px;
  }
}

.visual_tit {
  position: absolute;
  left: 120px;
  bottom: 150px;
  color: #fff;

  .tit {
    font-weight: bold;
    font-size: 50px;
  }

  .tit_btn {
    display: inline-block;
    margin-top: 25px;

    a {
      display: block;
      padding: 10px 40px;
      border-radius: 20px;
      border: 2px solid white;
      transition: all 0.1s;
      letter-spacing: 1px;
      color: #fff;

      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }
}

/***************rank***************/

.rank {
  margin-top: 150px;

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .rank_category {
    margin: 25px 0;
  }

  .category_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rank_category .category_btn li {
    text-align: center;

    a {
      position: relative;
      display: block;
      padding: 0 30px;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: rgb(102, 102, 102);
      letter-spacing: 1px;
      transition: all 0.2s;

      &::after {
        right: 50%;
      }

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        left: 20px;
        top: 0px;
        width: 0;
        height: 100%;
        transition: all 0.2s;
        background: linear-gradient(to top, #6fa6e8 90%, transparent 45%);
        opacity: 0.8;
        z-index: -1;
      }
    }

    &:hover a {
      &::before {
        width: 80%;
      }

      color: #000;
    }
  }
}

.rank_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
}

.rank_order {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  z-index: 2;
  width: 26%;
  flex-shrink: 1;
}

.rank {
  .rank_top {
    border-bottom: 2px solid #777;

    h3 {
      font-size: 34px;
      padding-left: 15px;
      padding-bottom: 15px;
    }
  }

  .rank_bottom {
    counter-reset: counter;
  }
}

.rank_order .rank_bottom ul li.active {
  box-shadow: 0px 0px 8px black;

  a {
    color: #002053;
    font-weight: 700;
    font-size: 21px;
  }
}

.rank .rank_bottom ul li {
  border-bottom: 1px solid #000;

  a {
    display: block;
    padding: 5px 5px 5px 25px;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(102, 102, 102);

    &::before {
      display: inline-block;
      counter-increment: counter;
      content: "0" counter(counter);
      width: 20px;
      height: 20px;
      margin-right: 15px;
    }
  }
}

.rankSwiper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .rank_img {
    position: relative;
    overflow: hidden;

    .rank_desc {
      position: absolute;
      width: 100%;
      bottom: 0;
      transform: translateY(100%);
      transition: all 0.3s;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &:hover .rank_desc {
      transform: translateY(0%);
    }

    .rank_desc ul {
      display: flex;
      align-items: center;

      li {
        width: 76%;
        height: 100px;
        padding: 10px 25px;

        &:nth-child(2) {
          display: flex;
          width: 40%;
          align-items: center;
          justify-content: space-around;
        }

        a {
          display: block;
          color: #fff;
          font-weight: 700;
          line-height: 40px;
          font-size: 22px;
        }

        .rank_icon {
          cursor: pointer;
          font-weight: 400;
          font-size: 40px;

          &:hover {
            color: red;
          }
        }
      }
    }
  }

  .swiper-wrapper .swiper-slide {
    width: 580px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;

    img {
      width: 100%;
      height: 680px;
    }

    &.swiper-slide-next {
      opacity: 0.3;
      transform: scale(0.8);
      visibility: visible;
    }
  }

  .swiper-slide.swiper-slide-active {
    margin: 0 10px;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

/************countdown*************/

.time_sale {
  margin-top: 150px;

  .edition {
    position: relative;
    overflow: hidden;
    height: 800px;

    .edition_video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: -1;

      video {
        width: 100%;
        height: 940px;
        object-fit: fill;
      }
    }
  }

  .countdown_box {
    width: 100%;
    text-align: center;

    h1 {
      font-size: 55px;
      background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      color: #fff;
    }
  }
}

/***************NEW_ARRIVAL*************/

.new_arrival {
  margin-top: 150px;

  h1 {
    text-align: center;
    font-size: 40px;
  }

  .new_arrival_category {
    margin: 30px 0;

    ul {
      display: flex;
      justify-content: center;

      li {
        margin: 0 10px;

        a {
          display: block;
          line-height: 50px;
          padding: 0 40px;
          border: 1px solid #777;
          border-radius: 10px;
          color: #000;
          letter-spacing: 1px;
          font-size: 18px;
          transition: all 0.2s;
        }

        &:hover a {
          background-color: #002053;
          color: #fff;
        }
      }
    }
  }
}

.newSwiper_box {
  padding: 0 50px;
}

.newSwiper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .swiper-wrapper .swiper-slide {
    width: 860px;
    transform: scale(0.8);
    opacity: 0.6;
    transition: all 0.3s;

    .new_desc {
      opacity: 0;
      visibility: hidden;
    }
  }

  .swiper-slide {
    &.swiper-slide-active {
      transform: scale(1);
      border: 2px solid #ccc;
      opacity: 1;
      z-index: 1;

      .new_desc {
        visibility: visible;
        opacity: 1;
      }
    }

    &.swiper-slide-prev .new_box {
      transform: translateX(300px);
    }

    &.swiper-slide-next .new_box {
      transform: translateX(100px);
    }

    &.swiper-slide-prev, &.swiper-slide-next {
      border: none;
    }
  }

  .swiper-button-prev {
    left: 22%;
    font-weight: 700;
  }

  .swiper-button-next {
    right: 22%;
    font-weight: 700;
  }
}

.new_box {
  display: flex;

  .new_img img {
    width: 500px;
    height: 600px;
  }

  .new_desc {
    position: relative;
    background-color: #fff;
    padding: 30px 15px 0 15px;

    p {
      font-size: 14px;

      &.new_tit {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
}

.new_desc {
  .favorite {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 15px;
    bottom: 20px;
    right: 0;

    a:first-child {
      margin: 0 10px;
    }

    .price p {
      font-size: 28px;
      font-weight: 700;
      padding-bottom: 10px;
    }

    span {
      a {
        font-size: 35px;
        color: #777;
      }

      &:hover a {
        color: red;
      }
    }
  }

  .detail {
    padding-top: 30px;

    p {
      color: rgb(153, 153, 153);
    }
  }
}

/*************MAGAZINE***********/

.magazine {
  margin: 150px 0;

  h1 {
    text-align: center;
  }

  .magazine_box {
    display: flex;
    overflow: hidden;
    margin-top: 30px;
    padding: 0 50px;

    > div {
      width: 33.3333%;
      margin-right: 20px;
      opacity: 0;

      &:nth-child(1) {
        transform: translateX(-100%);
      }

      &:nth-child(2) {
        transform: translateY(-100%);
      }

      &:nth-child(3) {
        transform: translateX(100%);
      }
    }

    .magazine_img_box .magazine_img {
      position: relative;
      overflow: hidden;

      &:hover .magazine_desc {
        right: 0;
      }
    }

    > div {
      &:last-child {
        margin-right: 0;
      }

      > div img {
        width: 100%;
        height: 610px;
      }

      .magazine_desc {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.3s;
      }

      > div p {
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;

        &:first-child {
          top: 60px;
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 1px;
        }

        &:last-child {
          bottom: 50px;
          font-size: 20px;
          line-height: 60px;
        }
      }
    }

    .maga_tit a {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 32px;
      margin-top: 30px;
      color: #000;
    }
  }
}

/*********Recommand Style**********/

.recommand_style {
  margin: 150px 0;
}

.recommand {
  h1 {
    position: relative;
    text-align: center;

    span {
      font-size: 16px;
      position: absolute;
      margin-left: 15px;
      color: blue;
      top: 20px;
    }
  }

  .recommand_box {
    display: flex;
    margin-top: 30px;
    padding: 0 50px;

    .rec_img {
      position: relative;
      width: 33.3333%;
      margin-right: 30px;

      img {
        width: 100%;
        height: 750px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .rec_plus {
      position: absolute;
    }

    .plus {
      top: 350px;
      left: calc(50% - 50px);
    }

    .plus1 {
      bottom: 150px;
      right: calc(50% - 60px);
    }

    .plus2 {
      top: 350px;
      left: calc(50% + 60px);
    }

    .plus3 {
      bottom: 120px;
      right: calc(50% - 60px);
    }

    .plus4 {
      top: 250px;
      left: calc(50% - 50px);
    }

    .plus5 {
      bottom: 280px;
      right: calc(50% - 60px);
    }

    .rec_plus {
      &.plus3 .rec_desc, &.plus5 .rec_desc {
        width: 270px;
      }

      span {
        border: 1px solid #777;
        background-color: #fff;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
      }

      .rec_desc {
        position: absolute;
        left: -80px;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #ccc;
        width: 250px;
        margin-top: 5px;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        transition: .2s;

        .de_tit {
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          padding: 5px 0;
        }

        .de_price {
          text-align: right;
          padding: 5px 0;
          font-size: 16px;
        }

        .purchase_btn {
          display: block;
          color: #fff;
          text-align: center;
          border-radius: 20px;
          background-color: #000;
          margin: 5px 20px;
          padding: 10px 0;
        }
      }

      &:hover .rec_desc {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/************sns*************/

.sns {
  h1 {
    text-align: center;
  }

  .sns_box {
    padding: 30px 0;

    .sns_list {
      width: 100%;
      padding: 0 50px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      li {
        position: relative;
        width: calc(20% - 12px);
        margin-right: 15px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        overflow: hidden;
        opacity: 0;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
          transform: translateX(-1000%);
        }

        &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
          transform: translateX(1000%);
        }

        &:nth-child(5n) {
          margin-right: 0;
        }

        img {
          width: 100%;
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .sns_list {
    .sns_hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;

      &::before, &::after {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transition: .3s;
      }
    }

    li:hover .sns_hover {
      &::before, &::after {
        width: 50%;
      }
    }

    .sns_hover {
      &::before {
        left: 50%;
      }

      &::after {
        right: 50%;
      }
    }

    li:hover .sns_hover {
      width: 100%;
      height: 100%;
      visibility: visible;
    }

    .sns_hover {
      .tag {
        position: absolute;
        width: 100%;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: 10;

        p {
          &.tag_tit {
            display: block;
            font-size: 22px;
            font-weight: 700;
            padding-bottom: 10px;
          }

          display: inline-block;
          padding: 0 5px;
          color: #fff;
          font-size: 14px;
          opacity: 0;
          visibility: hidden;
          transition: .3s;
        }
      }

      &:hover .tag p {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/***********footer************/

.footer {
  width: 100%;
  margin-top: 100px;
  padding: 50px;
  background-color: rgb(238, 238, 238);

  .footer_nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    ul {
      width: 20%;

      li.f_nav_tit {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 15px;
        letter-spacing: 1px;
      }

      &.footer_top li {
        img {
          width: 150px;
        }

        &:nth-child(2) {
          width: 40%;
          padding-top: 90px;
        }
      }

      li {
        text-align: center;
        line-height: 40px;
        font-size: 16px;

        a {
          color: black;
        }
      }
    }
  }

  .footer_list {
    margin-bottom: 40px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 20%;
        line-height: 50px;
        text-align: center;

        a {
          font-size: 16px;
          color: #000;
          font-weight: 700;
        }

        select {
          border: none;
          background: none;
          font-size: 16px;
          font-weight: 700;
          outline: none;
          margin-left: 25px;
        }

        a {
          &.red {
            color: red;
          }

          &.blue {
            color: blue;
          }
        }
      }
    }
  }

  .footer_bottom {
    display: flex;
    justify-content: space-between;

    p {
      color: #777;
      letter-spacing: 1px;
    }

    .f_bom_right p {
      a {
        display: block;
        font-size: 22px;
        color: #000;
        text-align: center;
        border: 1px solid black;
        border-radius: 25px;
        padding: 5px 40px;
        font-weight: 700;
        margin-bottom: 20px;
        transition: all 0.3s;

        &:hover {
          color: #fff;
          background-color: #002053;
        }
      }

      &.bold {
        color: #000;
        font-weight: 700;
        font-size: 18px;
      }
    }

    .f_sns {
      padding-right: 30px;

      ul {
        display: flex;
      }

      li a {
        display: block;
        width: 52px;
        height: 50px;
        font-size: 0;
        background-repeat: no-repeat;
        background-position: center center;

        &.insta {
          background-image: url(../img/Main_img/Sns/insta.svg);
        }

        &.facebook {
          background-image: url(../img/Main_img/Sns/facebook.svg);
        }

        &.youtube {
          background-image: url(../img/Main_img/Sns/youtube.svg);
        }

        &.kakao {
          background-image: url(../img/Main_img/Sns/kakao_ch.svg);
        }
      }
    }
  }
}

/*************quick_menu***********/

.quick {
  position: absolute;
  right: 0px;
  width: 240px;
  height: 265px;
  overflow: hidden;

  .quick_box {
    display: flex;
    align-items: center;
    position: absolute;
    right: -150px;
    top: 0;
    transition: .3s;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 0;
    z-index: 9998;
    overflow: hidden;

    &:hover {
      right: 0;
    }

    .quick_menu a {
      width: 150px;
      display: block;
      line-height: 60px;
      color: #000;
      font-weight: 700;
      font-size: 20px;
      transition: .3s;
      padding-left: 10px;
    }

    ul li:hover a {
      color: red;
    }
  }

  .quick_nav {
    padding: 0 15px;

    li a {
      &.bg {
        display: block;
        width: 55px;
        line-height: 60px;
        font-size: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center 100%;
      }

      &.profile {
        background-image: url(../img/quick_menu/profile.svg);
      }

      &.service {
        background-image: url(../img/quick_menu/02.png);
      }

      &.order {
        background-image: url(../img/quick_menu/01.png);
      }

      &.recent {
        background-image: url(../img/quick_menu/05.png);
      }
    }
  }
}

.arrow a {
  display: block;
  color: #000;
  font-size: 40px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: .1s;

  &:hover {
    background-color: #002053;
    color: #fff;
  }
}

/**********popup************/

.popup {
  position: fixed;
  top: 250px;
  left: 300px;
  z-index: 9999;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 30px 50px 50px 50px;
  border: 1px solid black;

  h2 {
    font-size: 30px;
  }

  button {
    position: absolute;
    right: 75px;
    top: 40px;
    font-size: 24px;
    border: none;
    padding: 5px;
    font-weight: 700;
    background-color: #fff;
    cursor: pointer;
  }
}

.popup_box {
  padding-top: 20px;
  line-height: 50px;

  p {
    font-size: 20px;
  }
}
